*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 10vh;
}

.nav-left img{
  width: 90px;
  height: 90px;
  top: 100px;
  
}
.nav-left img{
  margin-left: 30px ;
}
.nav-left{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
} 
.nav-center{
  flex: 2;
  display: flex;
  margin: 0px 20px;
  justify-content: center;
}
.nav-center input{
  height: 35px;
  
  width: 60%;
  border-radius:20px 0px 0px 20px; 
  border: solid rgb(198, 198, 198) 1px;             
}
.nav-center button{
  width: 50px;
  height: 36px;
  padding: 5px 10px 0px 0px ;
}
#search{
  border-radius: 0px 15px 15px 0px;
  border: solid rgb(198, 198, 198) 1px; 
}
#mic{
  border-radius: 90%;
  width: 40px ;
  height: 40px;
  border: solid white 1px;
  margin: 0px 5px;
}
.nav-right{
  flex: 0.5 ;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}
#Sign{
  background: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 25px;
}
#Sign:hover{
  color: rgb(250, 92, 92);
}
.container{
  display: flex;
  height: 90vh;
  padding-left: 10px;
}
aside{
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: scroll;
}
.material-icons{
  width: 10px;
  font-size:x-large;
}
.icon{
  display: flex;
  margin: 2px;
  align-items: center;
  gap:30px;
  
}
#text-image-icon{
  position:relative;
  right: 20px;
  
}
#text-user-icon{
  position:relative;
  right: 15px;
}
aside img{
  width: 30px;
  height: 30px;
}
main{
  flex: 8;
  display: flex;
  flex-direction: column;
}
section{
  flex: 1;
  display: flex;
  gap: 3px;
}
section ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
ul li a{
  border-radius:15px;
  border: solid rgb(202, 200, 200) 1px;
  color: #000;
  background:gainsboro;
  height: 30px;
  padding: 10px;
  margin: 3px;
  text-decoration: none;
}
#All{
  background: #000;
  color: white;
}
article{
  flex: 10;
  
}
.main-contant{
  display: flex;
  flex: 12;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.card{
  width: 30%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.main-video{
  flex: 3;
}
.main-text{
  display: flex;
  flex: 1;
  gap: 15px;
  font-size: 15px;
}
img{
  width: 30px; 
  height: 30px;
  object-fit: cover; 
  border-radius: 100px;
}
.main-text-post{
  display: flex;
  flex-direction: column;
}
.h5{
  display: flex;
  gap: 20px;
}
.h5 ,h5{
  color: #2422226f;
}
iframe{
  border-radius: 10px;
}
.login{
  display: flex;
  align-items: center;
  flex-direction: column;
}